<!DOCTYPE html>
<html lang="en">
<head>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Create Decision</title>
    <link href="https://cdn.jsdelivr.net/npm/bootswatch@5.3.0/dist/litera/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body class="bg-light">
<div class="container py-5">
    <h2>Name Your Collective Decision</h2>
    <p>You are connected as <strong>{{creator_id}}</strong> </p>
    <form action="/create" method="post">
        <div class="mb-3">
            <input type="text" name="name" class="form-control mb-3" placeholder="e.g. What to eat for dinner?" required>
           <!-- <input type="text" name="creator_id" class="form-control mb-3" placeholder="Your Name (to retrieve your polls later)" required>-->
        </div>
        <button type="submit" class="btn btn-success">Continue</button>
    </form>
</div>
</body>
</html>